
.container {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: rgb(151, 151, 218);
}
.para {
  color: red;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-size: 20px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.btn {
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

